


  /* Existing styles */
  /* display: flex; Enable flexbox for stacking elements */
  /* flex-direction: column; Stack elements vertically */
  /* min-height: 100vh; Ensure app fills the viewport */

.App {
  text-align: center;
}

.main-content {
  display: flex;
}

.logo-container {
  width: 70px; /* Adjust width as desired */
  height: 50px; /* Adjust height as desired */
  margin-right: 1rem; /* Add margin for spacing */
}

.lab {
  height: auto; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.lab-image {
  width: 60vw; /* 60% viewport width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Resize while preserving aspect ratio */
}

.navigation {
  flex: 1;
  background-color: #f4f4f4; /* or any color you prefer */
  height: 100vh; /* full height */
  overflow-y: auto; /* enable scroll if content is longer */
  position: fixed; /* makes the navbar stationary */
  width: 200px; /* fixed width, you can adjust as you like */
  padding: 20px;
}
.lab-content {
  flex: 3;
  margin-left: 200px; /* should be the same as the width of the navigation bar */
  padding: 20px;
  text-align: left;
}

.container {
  padding-left: 200px; /* Add padding to accommodate navigation bar */
}

.lab-image {
  /* Existing styles */
  position: relative;
  top: 50px;
}



